<h1>Sploit</h1>

<h2>Vulnerabilities</h2>
{{range .Vulns}}
  <div style="border:2px solid #a1a1a1; border-radius:25px; padding:10px 40px 10px 40px; background:#dddddd;" >
    <ul>
      <li>{{printf "Address: %v" .Address}}</li>
      <li>{{printf "Created at: %v" .CreatedAt}}</li>
      <li>{{printf "References: %v" .References}}</li>
    </ul>
  </div>
{{end}}

<h2>Cron Entries</h2>
{{range .CronEntries}}
  <div style="border:2px solid #a1a1a1; border-radius:25px; padding:10px 40px 10px 40px; background:#dddddd;" >
    <ul>
      <li>{{printf "Schedule: %v" .Schedule}}</li>
      <li>{{printf "Next scheduled run time: %v" .Next}}</li>
      <li>{{printf "Previous scheduled run time: %v" .Prev}}</li>
    </ul>
  </div>
{{end}}
